.nav {
  padding: 8px;
  margin: auto;
 justify-content: center;
  display: flex;
  gap: 8px;
  border-bottom: solid 1px gray;
}

.but {
    padding: 4px 8px;
}

.butActive{
  color: white;
  text-shadow: 0 0 5px white;
}
